<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房贷计算器</title>
    <link rel="stylesheet" href="/common/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/common/css/houseloan.css"/>
</head>
<body style="text-align: center">
    <h1>商业贷款房贷计算器</h1>
    <div style="height: 50px"></div>
    <div>
        贷款金额 ：<input name="principle" type="number"><br>
        贷款年利率 ：<input name="rate" type="number"><br>
        还款期限 ：<input name="repaymentTime" type="number"> 月<br><br>
        <button onclick="submitForm()">提交</button>
    </div>
    <table id="table">
        <thead>
        <tr>
            <td>还款次数</td>
            <td>还款本息</td>
            <td>还款本金</td>
            <td>还款利息</td>
        </tr>
        </thead>
        <tfoot></tfoot>
        <tbody></tbody>
    </table>
</body>

<script type="text/javascript" src="/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/common/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
function submitForm(){
    var principle = $("input[name='principle']").val();
    var rate = $("input[name='rate']").val();
    var repaymentTime = $("input[name='repaymentTime']").val();
    $.ajax({
        url:"houseloan/getRepayment",
        data:{
            repaymentPrincipal:principle,
            repaymentRate:rate,
            repaymentTime:repaymentTime
        },
        type:"post",
        dataType:"json",
        success:function(data){
            console.log(data);
        }
    })
}
</script>
</html>